
body {
    background: linear-gradient(to right, skyblue, lightgreen);
text-align: center; /* Center the content horizontally */
padding-top: 150px;
text-align: center;
font-size: 30px;
}

#txt {
    width: 300px;
    height: 50px;

}
#but{
    width: 300px;
    height: 50px;
}
